<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/add_options.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/options.js"></script>
  <title>Add options</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <div class="title-container">
      <h1 id="title">Add Your Options</h1>
      <p>Give your poll some options for your friends to rank.</p>
    </div>
    <form class="new-option">
      <input type="hidden" id="pollId" name="pollId" value="<%= pollId %>">
      <header>
        <div class="option-title-input-container">
          <label for="title">Create a Poll Option</label>
          <input type="text" name="title" id="option-title-input" required>
        </div>
        <div class="option-description-input-container">
          <label for="description">Describe Your Option</label>
          <textarea name="description" id="option-description-input"></textarea>
        </div>
        <button id="add-option">Add option</button>
      </header>
    </form>

    <article class="option-container">
      <% for (let option of options) { %>
        <div class="option-instance">
          <div class="option-info">
            <div class="option-title-info">
              <h3><%= option.title %></h3>
            </div>
            <% if (option.description) { %>
            <div class="option-description-info">
              <p><%= option.description %></p>
            </div>
            <% } %>
          </div>
          <button class="delete-option" id=<%=option.id %>> Delete </button>
        </div>
      <% } %>
    </article>

    <footer>
      <form id="complete-poll">
        <button type="submit">Complete poll</button>
      </form>
    </footer>
  </main>
</body>

</html>
