<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote - Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/vote.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <main class="poll-info">
    <header>
      <h1 class="poll-title"><%= pollTitle %></h1>
      <p><%= pollDesc %></p>
      <p>Instructions</p>
    </header>

    <table class="options-table">
      <tbody id="body" data-id="<%= pollId %>">
        <% let i = 1 %>
        <% for (let obj of options) { %>
          <tr data-position='<%= obj.id %>' class="option-box">
            <td class="ranking"><%= i %></td>
            <td class="option">
              <h3><%=obj.otitle%></h3>
              <p><%=obj.odesc%></p>
            </td>
          </tr>
          <% i = i+1 %>
          <% } %>
        </tbody>
      </table>

    <form class="voter-name-form" method="POST" action="/polls/:id">
      <label for="vote"></label>
      <input name="voter_name" id="vote" placeholder="Enter your name"> </input>
      <button type="submit">Submit</button>
    </form>

  </main>

</body>

<script>
  $(() => {
  //Implement drag and drop to sort options
  $('.options-table tbody').sortable({
    connectWith: "tbody",
  });

  //Once the voter submits the form collect their name and rankings
  $('.voter-name-form').on('submit', (event) => {
    event.preventDefault();

    //grab the data that we want to send back to the server
    //store option_id in an array to see ranking order
    const sortedIds = $('.options-table tbody').sortable('toArray', {attribute: 'data-position'});
    //grab poll id to be used in the post request url
    const id = $('#body').data().id;
    //grab the voter name for the post request
    const voter = $('#vote').val();

    //send the rankings and votername back to server
    $.ajax({
      type: 'POST',
      url: `/polls/${id}`,
      data: {
        sortedIds: sortedIds,
        voter_name: voter
      }
    })
  })
});
</script>

</html>
