<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote - Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/vote.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <main class="poll-info">
    <header>
      <h1 class="poll-title"><%= pTitle %></h1>
      <p>Description of Poll</p>
      <p>Instructions</p>
    </header>

    <table class="options-table">
      <tbody id="body" data-id="<%= pollId %>">
        <% let i = 1 %>
        <% for (let id in optionsDb) { %>
          <tr data-position='<%= i %>' class="option-box">
            <td class="ranking"><%= i %></td>
            <td class="option">
              <h3><%=optionsDb[id].title%></h3>
              <p><%=optionsDb[id].description%></p>
            </td>
          </tr>
          <% i = i+1 %>
          <% } %>
        </tbody>
      </table>

    <form class="voter-name-form" method="POST" action="/polls/:id">
      <label for="vote"></label>
      <input name="voter_name" id="vote" placeholder="Enter your name"> </input>
      <button type="submit">Submit</button>
    </form>

  </main>

</body>

<script>
  $(() => {
  $('.options-table tbody').sortable({
    connectWith: "tbody",
    stop: function (event, ui) {
      const sortedIds = $('.options-table tbody').sortable('toArray', {attribute: 'data-position'});
      console.log('sortedIds', sortedIds); //array of the new order e.g. [1,3,2]
    }
  });

  $('.voter-name-form').on('submit', (event) => {
    event.preventDefault();
    const sortedIds = $('.options-table tbody').sortable('toArray', {attribute: 'data-position'});
    const id = $('#body').data().id;
    console.log(id);

    const voter = $('#vote').val();
    console.log(voter)

    $.ajax({
      type: 'POST',
      url: `/polls/${id}`,
      data: {
        sortedIds: sortedIds,
        voter: voter
      }
    })
  })
});
</script>

</html>
