<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote - Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/vote.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <main class="poll-info">
    <header>
      <h1 class="poll-title"><%= pTitle %></h1>
      <p>Description of Poll</p>
      <p>Instructions</p>
    </header>

    <table class="options-table">
      <tbody>
        <% let i = 1 %>
        <% for (let id in optionsDb) { %>
          <tr>
            <td class="ranking"><%= i %></td>
            <td class="option" data-position='<%= i %>'>
              <h3><%=optionsDb[id].title%></h3>
              <p><%=optionsDb[id].description%></p>
              <% i = i+1 %>
            </td>
          </tr>
      </tbody>
      <% } %>
    </table>

    <form method="POST" action="/polls/:id">
      <label for="vote"></label>
      <input name="voter_name" id="vote" placeholder="Enter your name"> </input>
      <button type="submit">Submit</button>
    </form>

  </main>

</body>

<script>
  $(() => {
  $('.options-table tbody').sortable({
    connectWith: "tbody",
    update: function (event, ui) {
      $(this).children().each(function (index) {
        if ($(this).attr('data-position') !==  (index+1)) {
          const newPosition = index + 1;
          $(this).attr('data-position', newPosition);
        }
      });
    }
  });
});
</script>

</html>
