<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote - Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/vote.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/sortable.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <main class="poll-info">
    <header>
      <div id="title-box">
        <span>A <b>poll</b> has been created</span>
        <h1 class="poll-title"><%= pollTitle %></h1>
        <span><%= pollDesc %></span>
      </div>
      <div id="instructions">
        <p>Instructions:</p>
        <span>Sort the following options in order of preference and enter your name to submit your rankings.</span>
      </div>
    </header>

      <div class="sortable-options">
        <p class="ranking">Most Preferred</p>
        <table class="options-table">
          <tbody id="body" data-id="<%= pollId %>">
            <% let i = 0 %>
            <% for (let obj of options) { %>
              <tr data-position='<%= obj.id %>' class="option-box">
                <!-- <td class="ranking"><%= i %></td> -->
                <td class="option">
                  <h3><%=obj.otitle%></h3>
                  <p><%=obj.odesc%></p>
                </td>
              </tr>
              <% i = i+1 %>
              <% } %>
            </tbody>
          </table>
          <p class="ranking">Least Preferred</p>

      </div>

    <form class="voter-name-form">
      <label for="vote"></label>
      <input name="voter_name" id="vote" placeholder="Enter your name"> </input>
      <button type="submit" class="submit-button">Submit</button>
    </form>

  </main>

</body>

</html>
