<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="../styles/results.css" type="text/css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>

  <script type="text/javascript" src="../public/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <% let num = 1 %>
  <main>
    <div id="poll-title">
      <h1>Poll Title</h1>
      <h4>Poll Description</h4>
    </div>
    <div id="winning-option" class="option-container">
      <div class="number"><%= num %></div>
      <div class="option">
        <h1>I'm the winning option!</h1>
        <button class="hide-button"> Hide Description </button>
        <h4 class="description">ASKjaskdghsdjkghnjkascmasjcnkasjn</h4>
      </div>
    </div>
    <% for (let key in optionDatabase) { %>
      <div class="option-container">
        <div class="number"><%= num+=1 %></div>
        <div class="option">
          <h1><%= optionDatabase[key].title %></h1>
          <button class="hide-button"> Hide Description </button>
          <h4 class="description"><%= optionDatabase[key].description %></h4>
        </div>
      </div>
    <% } %>
</body>
<script>
$(() => {
  let toggled = false;
  $(".hide-button").click(function() {
    const description = $(this).parent().find(".description");

    if (toggled) {
      $(description).css({"display" : ""});
      toggled = false;
    } else if (!toggled) {
      $(description).css({"display" : "none"});
      toggled = true;
    }
  })
})
</script>

</html>
