<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/results.css" type="text/css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>

  <script type="text/javascript" src="../public/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div id="poll-title">
      <h1><%= results[0].poll_title %></h1>
      <h4><%= results[0].poll_description %></h4>
    </div>
    <div id="winning-option" class="option-container">
      <div class="number">1</div>
      <div class="option">
        <h1>WINNER: <%= results[0].title %></h1>
        <h4 class="description"><%= results[0].description %></h4>
        <button class="hide-button"> Hide Description </button>
      </div>
    </div>
    <% for (let i = 1; i < results.length; i++) { %>
      <div class="option-container">
        <div class="number"><%= i + 1 %></div>
        <div class="option">
          <h1><%= results[i].title %></h1>
          <h4 class="description"><%= results[i].description %></h4>
          <button class="hide-button"> Hide Description </button>
        </div>
      </div>
    <% } %>
</body>
<script>
  $(() => {
    $(".hide-button").click(function() {
      const description = $(this).parent().find(".description");

      if ($(description).css("display") === "none") {
        $(this).html("Hide Description");
        return $(description).css({"display" : ""});
      }

      $(this).html("Show Description");
      return $(description).css({"display" : "none"});
    })

    // Write query
    /* SELECT * FROM
    ORDER BY rank
    WHERE polls_id = req.params.id;

    */
  })
</script>

</html>
